h1{background-color: black;
color: #FF0000;
}



.big { font-size: large;}
  .small { font-size: small;}
    .conborde { border: thin solid black;}
      .sinborde { }

      .bgazul { background-color: blue;color: #ffffff}

    .hola { background-color: green; color: #ffffff}
